
html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;

  // Only hide horizontal overflow
}


.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}



.main {
  margin: 0;
  padding: 0;
}
.img{
  max-width: 100%;
  height: auto;
  display: block;
}


body {
  overflow-y: auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

