@import "../../styles/variables";

.grid {
  display: grid;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  max-width: 1400px;
  margin: 0 auto;

  // Default: 1 column on mobile
  grid-template-columns: 1fr;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr); // 🔥 force 3 per row on desktop
  }
}
