.logo {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  max-width: 200px;
}

.wordmark {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
}


.yPart {
   font-family: "Allura", cursive;
  font-style: italic;
  font-size: 2.4rem;
  font-weight: 500;
  color: #3b2a22;  
  margin-right: 0.05em;
}


.afatoPart {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.35em;
  color: #3b2a22;  
}